<!-- Gallery -->
<div class="row">
    <p></p>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="../../assets/IMG_1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

        <img src="../../assets/IMG_2.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../assets/IMG_3.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

        <img src="../../assets/IMG_4.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../assets/IMG_5.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../assets/IMG_6.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../assets/IMG_7.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../assets/IMG_8.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../assets/IMG_9.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../assets/IMG_10.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../assets/IMG_11.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

        <img src="../../assets/IMG_12.JPG" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
    </div>
</div>
<!-- Gallery -->