<div class="row">
  <p class="text-center">
    <b>Moments ✨; I've captured across the years — 2017 - 2021</b>
  </p>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="assets/IMG_1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 1"
    />

    <img
      src="assets/IMG_2.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 2"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/IMG_3.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 3"
    />

    <img
      src="assets/IMG_4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/IMG_5.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 5"
    />

    <img
      src="assets/IMG_6.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 6"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/IMG_7.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 7"
    />

    <img
      src="assets/IMG_8.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 8"
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/IMG_9.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 9"
    />

    <img
      src="assets/IMG_10.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 10"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/IMG_11.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 11"
    />

    <img
      src="assets/IMG_12.JPG"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Image 12"
    />
  </div>
</div>
