<div class="container width-screen">
    <h4> <b> Portfolio Site Map </b> </h4>
    <hr class="my-4">
    <div class="row pt-2">
        <!-- <h5 class="m-2"> <b> Index </b> </h5> -->
        <div class="col-sm">
            <h5> <b></b></h5>
            <ul class="no-bullet">
                <li class="m-2"> <b> Index </b> </li>
                <li class="m-2"> <a class="text-decoration-none" routerLink="/home">Home</a> </li>
                <li class="m-2"> <a class="text-decoration-none" routerLink="/portfolio">Portfolio</a> </li>
                <li class="m-2"> <a class="text-decoration-none" routerLink="/writings">Writings</a> </li>
                <li class="m-2"> <a class="text-decoration-none" routerLink="/hobbies">Hobbies</a> </li>
                <li class="m-2"> <a class="text-decoration-none" routerLink="/bookshelf">Bookshelf</a> </li>
            </ul>
        </div>
    </div>

    <hr class="my-4">

    <div class="row pt-2">
        <!-- <h5 class="m-2"> <b> More </b> </h5> -->
        <div class="col-sm">
            <h6 class="m-2"> <b>Home</b></h6>
            <ul class="no-bullet">
                <li class="m-2"> <a class="text-decoration-none" href="https://www.wipro.com/" target="_blank">Wipro
                        Limited</a> </li>
                <li class="m-2"> <a class="text-decoration-none" href="mailto:msafarookhi@gmail.com">Email</a> </li>
                <li class="m-2"> <a class="text-decoration-none"
                        href="https://www.linkedin.com/in/sahilafridfarookhi/">LinkedIn</a> </li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <h6 class="m-2"> <b>Writings</b></h6>
            <ul class="no-bullet">
                <li class="m-2"> <a class="text-decoration-none"
                        href="https://www.quora.com/profile/Sahil-Afrid-Farookhi/">Quora profile</a> </li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <h6 class="m-2"> <b>Bookshelf</b></h6>
            <ul class="no-bullet">
                <li class="m-2"> <a class="text-decoration-none" href="mailto:msafarookhi@gmail.com">Email</a> </li>
            </ul>
        </div>
    </div>

    <hr class="my-4">

    <div class="row pt-2">
        <h5 class="m-2"> <b> Portfolio </b> </h5>
        <div class="col-sm">
            <h6 class="m-2"> <b>Projects</b></h6>
            <ul class="no-bullet">
                <li class="m-2"> <a class="text-decoration-none" href="#" target="_blank">WIP</a> </li>
            </ul>
        </div>
    </div>