<div>
  <img
    src="../../assets/Beep Beep - Drifting.png"
    class="img-fluid mx-auto d-block"
    alt="Responsive image"
  />
  <h1 class="text-center">404 ERROR - Page Not Found!</h1>
  <h2 class="text-center"></h2>
  <h2 class="text-center">
    I think you just tried to navigate to a non-exisitng page.
  </h2>
  <h3 class="text-center">
    Let's go back to <a href="/" class="text-decoration-none">Home</a>.
  </h3>
  <img
    src="../../assets/dog-cute.gif"
    class="img-fluid mx-auto d-block"
    alt="Dogs running gif"
  />
</div>

<hr />
<h5 class="text-center">
  Want to<a href="mailto:msafarookhi@gmail.com" class="text-decoration-none">
    suggest </a
  >anything?
</h5>
