<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light font-family">
    <div class="container-fluid">
      <h1>Projects</h1>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#portfolioNavbar"
        aria-controls="portfolioNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse float-right" id="portfolioNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="academic"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              >Academic</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="sideline"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              >Sideline</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
