<!-- <p>portfolio works!</p> -->

<div class="container text-center">
    <h3>Projects</h3>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://msaf9.github.io/Portfolio/resource/Stock%20Data%20App.gif"
                    alt="Card image cap">
                <div class="card-body float-left">
                    <h5 class="card-title">Market Summary App
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            Working with Mail server on AWS (Amazon Web Services)
        </div>
        <div class="col-sm">
            Task Tracker Web App
        </div>
    </div>
</div>