<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>Market Summary App</h2>
        <p>
          Market Summary App helps to visualize the 8855 ticker's (stock) Close
          and Volume from a given date to date.
        </p>
        <a href="https://github.com/msaf9/MarketSummary">GitHub</a>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/MarketSummaryApp.gif"
      alt="Market Summary App"
    />
  </div>
</div>
<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>Portfolio Website</h2>
        <p>Portfolio Website - Desktop version.</p>
        <a href="https://github.com/msaf9/Portfolio">GitHub</a>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/PortfolioWebsite.gif"
      alt="Portfolio Website"
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>Working with Mail server on Amazon Web Services</h2>
        <p>
          Setup work-mail system for an organization with the help of cloud
          service Amazon Web Services (AWS).
        </p>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/WorkmailApp.gif"
      alt="Workmail"
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>Task Tracker Web App</h2>
        <p>Tack Tracker helps to track different quests on daily basis.</p>
        <a href="https://github.com/msaf9/TaskTracker">GitHub</a>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/TaskTrackerApp.gif"
      alt="Task Tracker"
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>Portfolio Website</h2>
        <p>
          Responsive Design - Mobile, tablet, and other screen resolution
          versions.
        </p>
        <a href="https://github.com/msaf9/Portfolio">GitHub</a>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/PortfolioWebsiteResponsiveDesign.gif"
      alt="Portfolio Website Responsive Design"
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <article>
      <div>
        <h2>GitHub README Overview</h2>
        <p>README using Markdown.</p>
        <a href="https://github.com/msaf9/msaf9">GitHub</a>
      </div>
    </article>
  </div>
  <div class="col-sm-6">
    <img
      class="img-fluid mx-auto d-block"
      src="../../assets/ProfileREADME.gif"
      alt="Profile README"
    />
  </div>
</div>
