<!-- <p>bookshelf works!</p> -->
<div class="container">
    <p class="lead">Books are one of the best ways to learn and experience. Reading different kinds of books helped me
        grow and
        spring. I have taken this seriously since 2019. Here is the list of books that I have read and planned to read
        in the future; you might like to dive into that. To share and get recommendations, I'm keeping a list of my
        books.</p>
    <p>Please feel free to suggest your tinge over an <a class="text-decoration-none"
            href="mailto:msafarookhi@gmail.com">email</a> to me.</p>
    <div class="row">
        <div class="col-sm ">
            <p class="text-center"> My book list 📕 — 2019 - 2022 (I've read)* </p>
            <ul class="list-group list-group-numbered">
                <li class="list-group-item"><span class="text-decoration-underline">The Success code</span> by Joe
                    Rubino</li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Debt is Slavery: and 9 Other Things I Wish My Dad Had Taught
                        Me
                        About Money</span>
                    by Michael Mihalik
                </li>
                <li class="list-group-item"><span class="text-decoration-underline">How to be Alone</span> by Janya
                    Davis</li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Wings of Fire</span> by A. P. J. Abdul Kalam
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">The Tears of My Soul</span> by Hyun Hee Kim
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">World Mythology in Bite-Sized Chunks</span> by
                    Mark Daniels
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">A Children's Dream of a Star</span> by Charles
                    Dickens
                </li>
                <li class="list-group-item"><span class="text-decoration-underline">Animal Farm</span> by George Orwell
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">The Subtle Art of Not Giving a F😶ck</span> by
                    Mark Manson
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Master Your Emotions: A Practical Guide to Overcome
                        Negativity and Better Manage
                        Your Feelings (Mastery Series Book 1)</span> by Thibaut Meurisse
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Life Is Short And So Is This Book: Brief Thoughts On Making
                        The Most Of Your
                        Life</span>
                    by Peter Atkins
                </li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <p class="text-center"> Reading now 📖 </p>
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">
                    <span class="text-decoration-underline">The Design of Everyday Things</span> by Donald
                    Norman
                </li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <p class="text-center">To go 📚**</p>
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">
                    <span class="text-decoration-underline">55 Questions To Ask Yourself</span>
                    by Manoj Chenthamarakshan
                </li>

                <li class="list-group-item"><span class="text-decoration-underline">Real Life</span> by Brandon Taylor
                </li>

                <li class="list-group-item">
                    <span class="text-decoration-underline">The Monk Who Sold His Ferrari: The 7 Stages of
                        Self-Awakening</span>
                    by Robin Sharma
                </li>

                <li class="list-group-item">
                    <span class="text-decoration-underline">Do It Today: Overcome Procrastination, Improve Productivity,
                        and
                        Achieve More</span>
                    by Darius Foroux
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Declutter Your Mind: How to Stop Worrying, Relieve Anxiety,
                        and
                        Eliminate Negative Thinking</span>
                    by S.J. Scott
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">The Adventures of Huckleberry Finn</span> Novel
                    by Mark Twain
                </li>
                <li class="list-group-item"><span class="text-decoration-underline">1984</span> by George Orwell</li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">Scientology: The Fundamentals of Thought</span>
                    by L. Ron Hubbard
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="text-center pointer-cursor" (click)="toggleShow()">{{showHide ? 'Show' : 'Hide'}} Paused ⏸</p>
        <div *ngIf="isShown" class="row container-fluid display-inline" id="divshow">
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">
                    <span class="text-decoration-underline">THINK STRAIGHT: Change Your Thoughts, Change Your
                        Life</span>
                    by Darius Foroux
                </li>
                <li class="list-group-item">
                    <span class="text-decoration-underline">80/20 Your Life! How to Get More Done with Less Effort and
                        Change Your Life in
                        the Process!</span> by Damon Zahariades
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="alert alert-light text-center" role="alert">
    <p> * The list is in the
        order I've
        read.</p>
    <p>
        ** I like this way of list order (lazy enough to sort in alphabetical
        order or write a few lines of code to sort).
    </p>
</div>