<!-- <p>bookshelf works!</p> -->
<div class="container">
    <p class="lead">Books are one of the best ways to learn and experience. Reading different kinds of books helped me
        grow and
        spring. I have taken this seriously since 2019. Here is the list of books that I have read and planned to read
        in the future; you might like to dive into that. To share and get recommendations, I'm keeping a list of my
        books.</p>
    <p>Please feel free to suggest your tinge over an <a class="text-decoration-none"
            href="mailto:msafarookhi@gmail.com">email</a> to me.</p>
    <div class="row">
        <div class="col-sm text-center">
            My book list 📕 — 2019 - 2022 (I've read)*
        </div>
        <div class="col-sm text-center">
            Reading now 📖
        </div>
        <div class="col-sm text-center">
            To go 📚**
        </div>
    </div>
</div>