<div class="container">
    <p class="text-center"><b>Variegated writings — 2017 - 2019</b></p>
    <div class="row">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="https://qr.ae/pGhNbw">Who is the best player, Messi or C.Ronaldo?</a> - 2019
            </li>
            <li class="list-group-item">
                <a href="https://qr.ae/pGhNw5">How famous is Cristiano Ronaldo?</a> - 2018
            </li>
            <li class="list-group-item">
                <a href="https://qr.ae/pGhNJn">Why is Cristiano Ronaldo hated so much?</a> - 2017
            </li>
        </ul>
    </div>
</div>

<div class="alert alert-light text-center" role="alert">
    <p> Check out my
        <a href="https://www.quora.com/profile/Sahil-Afrid-Farookhi/">Quora</a>
        profile for more answers.
    </p>
</div>