<!-- <div class="jumbotron w-75 p-3">
    <h1 class="display-4">Hello 👋</h1>
    <p class="lead"> I'm Sahil Afrid Farookhi.</p>
    <p> How's it going? Welcome to my portfolio website 💫.</p>
    <p>I love to help the man-kind and fellow living organisms by solving the problems using Technology.</p>
    <p>At present, I am a Senior Project Engineer at Wipro Limited, where I help a team design and develop a web
        application for our client's business.</p>
    <p>I have a wild fantasy for books and articles, relish listening to podcasts, and enjoy watching soccer ⚽ & Cricket
        🏏.</p>
    <p>If you like to interact with me for any fun plus cool stuff, you can email me or reach out to me on LinkedIn.</p>
    <hr class="my-4">
    <p>Fun fact: The sky is pink 😂</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div> -->

<!--Grid row-->
<div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-md-9">

        <div class="jumbotron">
            <h1 class="display-4">Hello 👋</h1>
            <p class="lead"> I'm Sahil Afrid Farookhi.</p>
            <p> How's it going? Welcome to my portfolio website 💫.</p>
            <p>I love to help the man-kind and fellow living organisms by solving the problems using Technology.</p>
            <p> <span style="background-color: #d8a9ff">At present, I am a Senior Project Engineer at <a
                        href="https://www.wipro.com/">Wipro Limited</a></span>, where I help a team design and develop a
                web
                application for our client's business.</p>
            <p>I have a wild fantasy for books and articles, relish listening to podcasts, and enjoy watching soccer ⚽ &
                Cricket
                🏏.</p>
            <p>If you like to interact with me for any fun plus cool stuff, you can <a class="text-decoration-none"
                    target=" _blank" href="mailto:msafarookhi@gmail.com">email</a> me or reach out to me on
                <a class="text-decoration-none" href="https://www.linkedin.com/in/sahilafridfarookhi/"
                    target="_blank">LinkedIn</a>.
            </p>
            <hr class="my-4">
            <p>
                <span class="bg"> Fun fact: The sky is pink 😂 </span>
            </p>
            <p class="lead text-center">
                <a class="btn btn-primary btn-sm" href="#" role="button">Sitemap</a>
            </p>
        </div>

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->